
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# TAINTS files (for Genkit)
.genkit-taints
# local env files
.env.local
.env*.local
.env
.env*
.env.*

# Log files
*.log
logs
*.log.*

# Misc
.eslintcache

# VSCode
.vscode/ launch.json
.vscode/ tasks.json
# but keep .vscode/settings.json
# .vscode/*
# !.vscode/settings.json

# Project IDX
.idx

# Patch-package
patches/

# Turbopack
.turbo/
